---
layout: default
---
{% include JB/setup %}
{% assign post = page %}
{% if post.category %}
	{{ content }}
    {% for site_category in site.data.categories %}
        {% if site_category.slug == post.category %}
            {% assign category = site_category %}
        {% endif %}
    {% endfor %}
    {% if category %}
        {% capture category_content %} in <span class="label" style="background-color:{{ category.color }}"><a href="/blog/category/{{ category.slug }}/">{{ category.name }}</a></span>{% endcapture %}
    {% endif %}
{% else %}
	{% include themes/hooligan/post.html %}
{% endif %}